### read and write files

In [1]:
import pandas as pd
import numpy as np

#### text files

In [2]:
text_filepath = "files.txt"
f = open(text_filepath, 'w')
f.write('Name Age')
f.write('\naaa 1')
f.write('\nbbb 2')

6

In [3]:
with open(text_filepath, 'w') as f:
    f.write('Name Age')
    f.write('\naaa 1')
    f.write('\nbbb 2')

In [4]:
with open(text_filepath, 'r') as f:
    lines = f.readlines()
for line in lines:
    print(line.strip())

Name Age
aaa 1
bbb 2

In [5]:
with open(text_filepath, 'a') as f:
    f.write('\nccc 3')

In [6]:
with open(text_filepath, 'r') as f:
    lines = f.readlines()
for line in lines:
    print(line.strip())

Name Age
aaa 1
bbb 2
ccc 3

#### csv files

In [7]:
start_date = "1/1/2020"
n_days = 1000
time_series = pd.Series(np.random.randn(n_days), index = pd.date_range(start_date, periods = 1000))
len(time_series)

1000

In [8]:
n_features = 4
n_samples = n_days
data = np.random.randn(n_samples, n_features)

In [9]:
columns = ['A', 'B', 'C', 'D']
df = pd.DataFrame(data, index = time_series.index, columns=columns)
len(df)

1000

In [10]:
df.head()

                   A         B         C         D
2020-01-01 -1.441944 -0.461317 -0.493505 -0.441948
2020-01-02  0.415959  0.460783 -0.165002 -0.879958
2020-01-03  0.463483 -0.126835 -0.312765 -0.512762
2020-01-04  0.408745 -1.155402  1.285008  0.074407
2020-01-05 -1.121135 -1.364487 -0.991210  1.483657

In [11]:
df.index.name = "date"
df.head()

                   A         B         C         D
date
2020-01-01 -1.441944 -0.461317 -0.493505 -0.441948
2020-01-02  0.415959  0.460783 -0.165002 -0.879958
2020-01-03  0.463483 -0.126835 -0.312765 -0.512762
2020-01-04  0.408745 -1.155402  1.285008  0.074407
2020-01-05 -1.121135 -1.364487 -0.991210  1.483657

In [12]:
df = df.cumsum()  # cumulative sum along index column
df.head()

                   A         B         C         D
date
2020-01-01 -1.441944 -0.461317 -0.493505 -0.441948
2020-01-02 -1.025984 -0.000534 -0.658507 -1.321907
2020-01-03 -0.562502 -0.127369 -0.971272 -1.834669
2020-01-04 -0.153756 -1.282771  0.313736 -1.760262
2020-01-05 -1.274892 -2.647258 -0.677474 -0.276605

In [13]:
csv_filepath = "files.csv"
df.to_csv(csv_filepath)

In [14]:
df = pd.read_csv('files.csv', index_col=0)
df.head()

                   A         B         C         D
date
2020-01-01 -1.441944 -0.461317 -0.493505 -0.441948
2020-01-02 -1.025984 -0.000534 -0.658507 -1.321907
2020-01-03 -0.562502 -0.127369 -0.971272 -1.834669
2020-01-04 -0.153756 -1.282771  0.313736 -1.760262
2020-01-05 -1.274892 -2.647258 -0.677474 -0.276605

In [15]:
xlsx_filepath = "files.xlsx"
df.to_excel(xlsx_filepath)

In [16]:
df = pd.read_excel(xlsx_filepath, index_col=0)
df.head()

                   A         B         C         D
date
2020-01-01 -1.441944 -0.461317 -0.493505 -0.441948
2020-01-02 -1.025984 -0.000534 -0.658507 -1.321907
2020-01-03 -0.562502 -0.127369 -0.971272 -1.834669
2020-01-04 -0.153756 -1.282771  0.313736 -1.760262
2020-01-05 -1.274892 -2.647258 -0.677474 -0.276605